<div class="container-fuild m-auto bg-primary">
  <div class="position-absolute top-50 start-50 translate-middle bg-white shadow rounded p-4">
    <form class="form d-flex flex-column">
      <div class="input-box d-flex flex-column">
          <div class="d-flex align-items-center gap-2 w-100">
            <label>Email:</label>
            <input 
              class="form-control" 
              type="email"
              placeholder="Enter email" 
            />
            <label>Password:</label>
            <input 
              class="form-control" 
              type="password"
              placeholder="Enter password" 
            />
          </div>

          <div class="d-flex align-items-center gap-2 mt-2">
            <div class="form-check">
              <input 
                type="checkbox" 
                class="form-check-input checkbox"
              />
              <label class="form-check-label">
                Remember me
              </label>
            </div>

            <button class="btn btn-primary">Submit</button>
          </div>
      </div>
    </form>
  </div>
</div>